@use "../../scss/" as *;

.movie-list-header {
  @include flex(row, center, space-between);
  width: 100%;
  margin-top: 20px;

  @include extraLargeScreen {
    padding: 0 20px;
  }
}

.movie-list-heading {
  color: #fff;
  font-family: $font-family-sec;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 20px;
}

.movie-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-gap: 3rem;
  margin-bottom: 20px;

  @include extraLargeScreen {
    padding: 0 20px;
  }
}
